* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #EE5253;
    align-items: center;
}

.logo {
    color: #fff;
    font-weight: bold;
    font-size: 2.25rem;
    text-decoration: none;
    margin-left: 27px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

ul li {
    margin-right: 25px;
}

main {
    height: 946px;
    background-color:#333;
    background-image: url('../images/faizur-rehman-pHPzdEHN6Os-unsplash\ 1.png');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.sombra {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color:rgba(0, 0, 0, 0.8);
}

main p {
    color: #fff;
    font-size: 1.87rem;
    margin-left: 59px;
    margin-top: 292px;
}

main h1 {
    color: #fff;
    font-size: 5rem;
    margin-left: 59px;
}

.btn-principal {
    color: #fff;
    background-color: #EE5253;
    padding: 10px 75px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    margin-left: 72px;
    transition: .4s;
}

.btn-principal:hover {
    background-color: azure;
    color: #EE5253;
}

.iniciativa {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}

.titulo {
    font-size: 3.125rem;
    margin-top: 86px;
    margin-left: 235px;
    margin-bottom: 41px; 
    grid-column: 1;
    grid-row: 1;
}

.descricao {
    font-size: 1.187rem;
    margin-left: 235px;
    grid-column: 1;
    grid-row: 2;
}

.rapaz {
    grid-column: 2;
    max-width: 100%;
    margin-top: 41px;
    margin-left: 76px;
}

.retangulo {
  position: absolute;
  max-width: 100%;
  margin-top: 400px;
}

.contato {
    height: 300px;
}

.titulo-contato {
    font-size: 3.125rem;
    margin-top: 70px;
    margin-left: 233px;
}

.descricao-contato {
    font-size: 1.187rem;
    margin-top: 20px;
    margin-left: 233px;
}

form {
    margin-top: 37px;
    margin-left: 233px;
    position: relative;
}

label {
    position: absolute;
}

input {
    width: 338px;
    height: 60px;
    border: 1px solid #CDCDCD;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 1rem;
    padding-left: 8px;
}

input::placeholder {
    font-size: 1rem;
}

input:focus {
    border: 1px solid #CDCDCD;
    outline-color: #CDCDCD;
}

button {
    color: #fff;
    background-color: #10AC84;
    width: 304px;
    height: 60px;
    font-size: 22px;
    border-radius: 8px;
    margin-left: 12px;
    border: none;
    cursor: pointer;
    transition: .4s;
}

button:hover {
    background-color: #fff;
    color: #10AC84;
    border: 1px solid #EE5253;
}

footer {
    background-color: #EAEAEA;
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    text-transform: uppercase;
    font-weight: bold;
}


@media (max-width: 375px) {
    .logo {
        font-size: 1.5rem;
    }

    .icon {
        width: 25px;
    }

    main {
        height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .sombra {
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    main p {
        font-size: 1rem;
        margin: 0 auto;
    }
    
    main h1 {
        text-align: center;
        font-size: 1.7rem;
        margin: 0 auto;
    }

    .btn-principal {
        padding: 10px 30px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .iniciativa {
        display: grid;
        grid-template-columns: 1fr;
     }
     
     .titulo {
         font-size: 1.7rem;
         grid-column: 1;
         grid-row: 1;
         text-align: center;
         margin: 0;
         margin-top: 20px;
     }
     
     .descricao {
         font-size: .8rem;
         grid-column: 1;
         padding: 10px;
         margin: 0;
     }
     
     .rapaz {
         grid-column: 1;
         max-width: 70%;
         margin: 0 auto;
     }
     
     .retangulo {
        position: relative;
        max-width: 100%;
        margin-top: -40px;
 }

     .contato {
        height: 350px;
    }
    
    .titulo-contato {
        font-size: 1.7rem;
        text-align: center;
        margin: 40px 0px 10px 0px;
    }
    
    .descricao-contato {
        font-size: .8rem;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    form {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    label {
        font-size: 1rem;
        margin: 0 auto;
        position: relative;
    }
    
    input {
        width: 250px;
        height: 30px;
        margin: 0px;
        margin-bottom: 10px;
    }
        
    button {
        
        width: 250px;
        height: 30px;
        font-size: 1rem;
        margin: 0 auto;
        margin-top: 20px;
        display: inline-block;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    .logo {
        font-size: 1.5rem;
    }

    .icon {
        width: 25px;
    }


    main {
        height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .sombra {
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    main p {
        font-size: 1rem;
        margin: 0 auto;
    }
    
    main h1 {
        text-align: center;
        font-size: 2rem;
        margin: 0 auto;
    }

    .btn-principal {
        padding: 10px 30px;
        margin: 0 auto;
        margin-top: 20px;
    }


    .iniciativa {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20px;
    }
     
     .titulo {
         font-size: 1.7rem;
         text-align: center;
         margin: 0 auto;
     }
     
    .descricao {
         font-size: .8rem;
         width: 90%;
         margin: 0 auto;
     }
     
     .rapaz {
         grid-column: 1;
         max-width: 70%;
         margin: 0 auto;
    }
        
    .retangulo {
        position: relative;
        max-width: 100%;
        margin-top: -40px;
    }

    .contato {
        height: 350px;
    }
    
    .titulo-contato {
        font-size: 1.7rem;
        text-align: center;
        margin: 40px 0px 10px 0px;
    }
    
    .descricao-contato {
        font-size: .8rem;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    form {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    label {
        font-size: 1rem;
        margin: 0 auto;
        position: relative;
    }
    
    input {
        width: 250px;
        height: 30px;
        margin: 0px;
        margin-bottom: 10px;
    }
        
    button {
        
        width: 250px;
        height: 30px;
        font-size: 1rem;
        margin: 0 auto;
        margin-top: 20px;
        display: inline-block;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    main {
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .sombra {
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    main p {
        font-size: 1.5rem;
        margin: 0 auto;
    }
    
    main h1 {
        text-align: center;
        font-size: 3rem;
        margin: 0 auto;
    }

    .btn-principal {
        padding: 10px 40px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .iniciativa {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20px;
     }
     
     .titulo {
         font-size: 3rem;
         text-align: center;
         margin: 0 auto;
    }
     
     .descricao {
         font-size: 1rem;
         width: 90%;
         margin: 0 auto;
     }
     
     .rapaz {
         grid-column: 1;
         max-width: 50%;
         margin: 0 auto;
    }
        
      .retangulo {
        position: relative;
        max-width: 100%;
        margin-top: -40px;
     }

     .contato {
        height: 350px;
    }
    
    .titulo-contato {
        font-size: 3rem;
        text-align: center;
        margin: 40px 0px 10px 0px;
    }
    
    .descricao-contato {
        font-size: 1rem;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    form {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    label {
        font-size: 1rem;
        margin: 0 auto;
        position: relative;
    }
    
    input {
        width: 250px;
        height: 30px;
        margin: 0px;
        margin-bottom: 10px;
    }
        
    button {
        
        width: 250px;
        height: 30px;
        font-size: 1rem;
        margin: 0 auto;
        margin-top: 20px;
        display: inline-block;
    }
}